{% load staticfiles %}
<html>
  <head>
    <title>CERTAIN | Research Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
  </head>
  <body>
    <div class="page-header">
      <div role="navigation">
        <ul class="nav nav-tabs navbar-right">
          <li class="{% ifequal request.path '/feed/' %} active {% endifequal %}"><a href="{% url 'feed.views.study_list' %}">Home</a></li>
          <li class="{% if '/notifications/' in request.path %} active {% endif %}"><a href="{% url 'feed.views.notifications' %}">Notifications {% if user.is_authenticated %}<span class="label label-danger">2</span>{% endif %}</a></li>
          <li class="{% if '/settings/' in request.path %} active {% endif %}"><a href="{% url 'feed.views.user_profile' %}">Settings</a></li>
        </ul>
      </div>
        <h1><a href="{% url 'feed.views.study_list' %}"><img src="{% static 'images/header-logo.png' %}" alt="Header Logo"/></a></h1>
    </div>
    <div class="content container">
      <div class="row">
        <div class="col-md-12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-image-right"><a href="http://www.becertain.org/"><img src="{% static 'images/footer-logo.png' %}" alt="Footer Logo" height="50px" /></a></div>
      <div class="footer-image-left"><a href="http://www.hcde.washington.edu/"><img src="{% static 'images/HCDE-logo.png' %}" alt="Footer Logo" height="50px" /></a></div>
      <p class="text-muted">Copyright © 2016 CERTAIN. All rights reserved.</p>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>