{% extends 'feed/base.html' %}

{% block content %}
    <h1>Notifications</h1>
    <div class="alert alert-success">
    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Particpant Application Approved!</strong> Your application for participation in the 'CODA' study has been approved.
    </div>
    <div class="alert alert-info">
      <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>New Comment!</strong> 'testuser' has responded to your comment on the 'Antibiotics-First Registry' study.
    </div>
{% endblock %}